body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexbal-contener{
    display: flex;
    margin-bottom: 100px;
}
.haft-width{
    width: 50%;
    padding-left: 10%;
}
.haft-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dreme-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.Experiences-itam{
    box-shadow: 10px 10px 40px rgba(65, 105, 225, 0.788);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
}
#flexbal{
    border-left: 7px solid orangered;
}
#Baby{
    border-left: 7px solid blue;
}
footer{
    text-align: center;
}